<%- include('../layout/pagesHeader') %>

<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
      <div class="container">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Pages</a></li>
              <li class="breadcrumb-item active" aria-current="page">About us</li>
          </ol>
      </div><!-- End .container -->
  </nav><!-- End .breadcrumb-nav -->
  
  <div class="page-content pb-0">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 mb-3 mb-lg-0">
                  <h2 class="title">Our Vision</h2><!-- End .title -->
                  <p> ByteBook is to revolutionize the tech market by providing top-notch laptops with unparalleled performance and innovative features. We aspire to become the go-to destination for tech enthusiasts seeking the latest and most advanced computing solutions.</p>
              </div><!-- End .col-lg-6 -->
              
              <div class="col-lg-6">
                  <h2 class="title">Our Mission</h2><!-- End .title -->
                  <p>At ByteBook, our mission is to empower individuals and businesses by offering a curated selection of high-quality laptops from renowned brands. We aim to deliver exceptional value through cutting-edge technology, unparalleled service, and a seamless shopping experience. Our commitment lies in providing reliable, <br>Praesent elementum hendrerit tortor. Sed semper lorem at felis. </p>
              </div><!-- End .col-lg-6 -->
          </div><!-- End .row -->

          <div class="mb-5"></div><!-- End .mb-4 -->
      </div><!-- End .container -->

      <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
          <div class="container">
              <div class="row">
                  <div class="col-lg-5 mb-3 mb-lg-0">
                      <h2 class="title">Who We Are</h2><!-- End .title -->
                      <p class="lead text-primary mb-3">ByteBook.shop offers a wide range of top-quality laptops, delivering cutting-edge <br></p><!-- End .lead text-primary -->
                      <p class="mb-2">Explore our diverse range of high-quality laptops at ByteBook, providing unmatched performance and reliability across various brands to meet your computing needs. </p>

                      
                  </div><!-- End .col-lg-5 -->

                  <div class="col-lg-6 offset-lg-1">
                      <div class="about-images">
                          <img src="/public/assets/images/baner/peakpx.jpg	" alt="" class="about-img-front">
                          
                      </div><!-- End .about-images -->
                  </div><!-- End .col-lg-6 -->
              </div><!-- End .row -->
          </div><!-- End .container -->
      </div><!-- End .bg-light-2 pt-6 pb-6 -->

      

      <div class="mb-2"></div><!-- End .mb-2 -->

      
  </div><!-- End .page-content -->
</main><!-- End .main -->

<%- include('../layout/pagesFooter') %>