<%- include('../layout/pagesHeader') %>
  <main class="main">

    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="breadcrumb-item active" aria-current="page">Contact us 2</li>
        </ol>
      </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">

      <div class="container">


        <hr class="mt-3 mb-5 mt-md-1">
        <div class="touch-container row justify-content-center">
          


        </div><!-- End .row -->
        <div class="row">
          <div class="col-md-4">
            <div class="contact-box text-center">
              <h3>Office</h3>

              <address>Calicut, Kerala, <br> 10004, kerala, india</address>
            </div><!-- End .contact-box -->
          </div><!-- End .col-md-4 -->

          <div class="col-md-4">
            <div class="contact-box text-center">
              <h3>Start a Conversation</h3>

              <div><a href="mailto:#">byteBook.shop</a></div>
              <div><a href="tel:#">+1 987-876-6543</a>, <a href="tel:#">+1 987-976-1234</a></div>
            </div><!-- End .contact-box -->
          </div><!-- End .col-md-4 -->

          <div class="col-md-4">
            <div class="contact-box text-center">
              <h3>Social</h3>

              <div class="social-icons social-icons-color justify-content-center">
                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                    class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                    class="icon-twitter"></i></a>
                <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                    class="icon-instagram"></i></a>
                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                    class="icon-youtube"></i></a>
                <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                    class="icon-pinterest"></i></a>
              </div><!-- End .soial-icons -->
            </div><!-- End .contact-box -->
          </div><!-- End .col-md-4 -->
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .page-content -->
  </main><!-- End .main -->




  <%- include('../layout/pagesFooter') %>