
   

<%- include('../layout/header') %>



<div class="pt-5 ">

      <div class="form-box">
          <div class="form-tab">
              <ul class="nav nav-pills nav-fill" role="tablist">
                      <p class="nav-link active align-items-center">admin Sign In</p> 
              </ul>
              <div class="tab-content" id="tab-content-5">
                  <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                      <form action="" method="post" id="contactForm">
                          <div class="form-group" >
                              <label for="singin-email"> email address *</label>
                              <input type="text" class="form-control" id="singemail" name="email" required>
                          </div><!-- End .form-group -->

                          <div class="form-group">
                              <label for="singin-password">Password *</label>
                              <input type="password" class="form-control" id="password" name="password" required>
                          </div><!-- End .form-group -->

                          <p class="text-danger"><%= message%></p>
                          

                          <div class="form-footer">
                              <button type="submit" class="btn btn-outline-primary-2">
                                  <span>LOG IN</span>
                                  <i class="icon-long-arrow-right"></i>
                              </button>

                            

                            
                              
                          </div><!-- End .form-footer -->
                          <a href="#" class="forgot-link align-items-center">Forgot Your Password?</a>
                      </form>

                      
                  </div>
                   
               
              </div><!-- End .tab-content -->
          </div><!-- End .form-tab -->
      </div><!-- End .form-box -->

    </div>

    <script>
    
    </script>
    

    <%- include('../layout/footer') %>